
body {
	padding-top: 70px;
}

p {
	font-family: 'Roboto';
	letter-spacing: 0.2rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.jumbotron {
	color: #2c3e50;
	background-color: #ecf0f1;
	font-family: 'Roboto'; 
}

.navbar-inverse {
	background-color: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
	font-family: 'Roboto';
}

.navbar-inverse .navbar-brand {
	color: white;
	font-family: 'Roboto';
}

.thumbnail img {
    height:250px;
    width:100%;
}
